In [85]:
import os,glob,json

In [86]:
data_clients = glob.glob("data_clients/*")

In [87]:
cards_clients = [ json.load(open(f)) for f in data_clients ]

In [88]:
cards_clients[0]

{'client_id': '380',
 'values': {'address': '3551 Spruce Boulevard',
  'birth_month': '1',
  'birth_year': '1974',
  'credit_score': '800',
  'current_age': '46',
  'gender': 'Male',
  'latitude': '41.57',
  'longitude': '-93.61',
  'num_credit_cards': '2',
  'per_capita_income': '$18568',
  'retirement_age': '70',
  'total_debt': '$57727',
  'yearly_income': '$37857'}}

In [89]:
client_id_list = []
birth_year_list = []
total_debt_list = []
birth_month_list = []
retirement_age_list = []
credit_score_list = []
for cards_client in cards_clients:
        client_id_list.append(cards_client['client_id'])
        cards_client = cards_client['values']
        birth_year_list.append(cards_client['birth_year'])
        birth_month_list.append(cards_client['birth_month'])
        total_debt_list.append(cards_client['total_debt'])
        retirement_age_list.append(cards_client['retirement_age'])
        credit_score_list.append(cards_client['credit_score'])

In [90]:
import pandas as pd

In [91]:
df = pd.DataFrame({
    'client_id': client_id_list,
    'birth_year': birth_year_list,
    'birth_month': birth_month_list,
    'total_debt': total_debt_list,
    'retirement_age': retirement_age_list,
    'credit_score': credit_score_list
})

In [92]:
# total_debt $1000 -> float
df['total_debt'] = df['total_debt'].str.replace('$','').astype(float)
df["retirement_age"] = df["retirement_age"].astype(int)
df["credit_score"] = df["credit_score"].astype(int)
df["birth_year"] = df["birth_year"].astype(int)
df["birth_month"] = df["birth_month"].astype(int)
df["birth"] = pd.to_datetime(df["birth_year"].astype(str) + df["birth_month"].astype(str), format='%Y%m')

current_year = 2024
import datetime
df['age'] = (datetime.datetime.now() - df['birth']).dt.days // 365

In [93]:

df["year_to_retirement"] = df["retirement_age"] - df["age"]

In [94]:
df.to_csv('data_clients.csv', index=False)

In [95]:
# query_2: The client_id that will retire within a year that has the lowest credit score and highest debt.


df.query("year_to_retirement == 1").sort_values(by=['credit_score','total_debt'],ascending=[True,False])

,client_id,birth_year,birth_month,total_debt,retirement_age,credit_score,birth,age,year_to_retirement
124,1540,1964,9,63194.0,61,625,1964-09-01,60,1
78,1029,1953,3,86573.0,72,676,1953-03-01,71,1
24,1901,1956,3,107287.0,69,730,1956-03-01,68,1
560,641,1957,11,0.0,68,735,1957-11-01,67,1
567,714,1958,10,155191.0,67,760,1958-10-01,66,1
175,758,1956,12,36832.0,68,764,1956-12-01,67,1